﻿
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hotelier Admin  Paneli</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/hotelier-1.0.0/images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/hotelier-1.0.0/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/hotelier-1.0.0/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/hotelier-1.0.0/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/hotelier-1.0.0/css/style.css" rel="stylesheet">
</head>