<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">

        <!-- Sol taraftaki yazı kartı -->
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Huzur Dolu Bir Tatil</h6>
                <h1 class="text-white mb-4">Otelimizi Daha Yakından Tanıyın</h1>
                <p class="text-white mb-4">
                    Sizler için hazırladığımız otel tanıtım videomuzu izleyip hakkımızda daha fazla bilgi sahibi olabilirsiniz.
                    Sorularınız olursa iletişim kısmından bize ulaşabilirsiniz.
                </p>
                <a href="/Booking/Index/" class="btn btn-primary py-md-3 px-md-5 me-3">Odalarımız</a>
                <a href="/Booking/Index/" class="btn btn-light py-md-3 px-md-5">Rezervasyon Yap</a>
            </div>
        </div>

        <!-- Sağ taraftaki video -->
        <div class="col-md-6">
            <iframe style="width:100%; height:100%; min-height:350px;"
                    src="https://www.youtube.com/embed/IbevNsruNLQ?si=9AjWl_LVK67OH0Mt"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
            </iframe>
        </div>

    </div>
</div>
