@model CreateNewUserDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Otel Kayıt Sayfası</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/quixlab-master/quixlab-master/assets/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="~/quixlab-master/quixlab-master/css/style.css" rel="stylesheet">
</head>
<body class="h-100">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <h4 class="text-center">Otel Kayıt Paneli</h4>

                                @if (ViewBag.Error != null)
                                {
                                    <div class="alert alert-danger mt-3">@ViewBag.Error</div>
                                }
                                @if (ViewBag.Success != null)
                                {
                                    <div class="alert alert-success mt-3">@ViewBag.Success</div>
                                }

                                <div asp-validation-summary="All" class="text-danger"></div>

                                <form asp-action="Index" asp-controller="Register" method="post" class="mt-5 mb-5 login-input">
                                    <div class="form-group">
                                        <input asp-for="Name" type="text" class="form-control" placeholder="Adınız" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Surname" type="text" class="form-control" placeholder="Soyadınız" />
                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Username" type="text" class="form-control" placeholder="Kullanıcı Adınız" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Mail" type="email" class="form-control" placeholder="Email Adresiniz" />
                                        <span asp-validation-for="Mail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" type="password" class="form-control" placeholder="Şifreniz (min 3 karakter)" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Şifrenizi Tekrar Giriniz" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn login-form__btn submit w-100">Kayıt Ol</button>
                                </form>

                                <p class="mt-5 login-form__footer">Hesabınız var mı? <a href="/Login/Index" class="text-primary">Giriş Yap</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/quixlab-master/quixlab-master/plugins/common/common.min.js"></script>
    <script src="~/quixlab-master/quixlab-master/js/custom.min.js"></script>
</body>
</html>